SQLALCHEMY_DATABASE_URI = "postgresql://postgres:password@host:PORT/dbname"
SQLALCHEMY_TRACK_MODIFICATIONS = < set True or False >
SECRET_KEY = < Flask secret key >
JWT_TOKEN_SECRET = < jwt secret key >
JWT_REFRESH_SECRET = < jwt refresh key >
JWT_ALGO = < jwt algo >
JWT_TOKEN_LOCATION = < token location where you want to stored localstorage or cookies >
JWT_ACCESS_TOKEN_EXPIRES = < access token expire time > 
JWT_REFRESH_TOKEN_EXPIRES = < refresh token expire time >